################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Invoice/.vs/Invoice/v16/Server/sqlite3
