################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Invoice/.vs/Invoice/v16/Server/sqlite3
/.vs/VSWorkspaceState.json
/.vs
/Invoice/.vs/Invoice/v16
/Invoice/Invoice/bin/Debug
/Invoice/Invoice/obj
/Invoice/packages
/Invoice.rar
/Invoice/Invoice/Invoice.csproj.user
/Invoice/Invoice/InvoiceX.csproj.user
/Invoice/UnitTestProject/bin/Debug
/Invoice/UnitTestProject/obj/Debug
/Invoice/Setup/Debug
